argh==0.26.2
colorama==0.3.7
coverage==4.3.4
docopt==0.6.2
future==0.16.0
gevent==1.2.1
greenlet==0.4.12
mock==2.0.0
pathtools==0.1.2
pbr==2.0.0
py==1.4.32
pytest==3.0.6
pytest-cov==2.4.0
pytest-env==0.6.0
pytest-mock==1.5.0
pytest-watch==4.1.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
watchdog==0.8.3
websocket-client==0.40.0
